@model User
@{
    ViewData["Title"] = "luta de ovelhas";
    Layout = "_Layout";
}

<div class="container-home">
    @* <div class="container">
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-2">User</div>
            <div class="col-4"><input type="text" id="userInput" /></div>
        </div>
        <div class="row">
            <div class="col-2">Message</div>
            <div class="col-4"><input type="text" id="messageInput" /></div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-6">
                <input type="button" id="sendButton" value="Send Message" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div> *@
</div>


<form class="forms" asp-action="Create" enctype="multipart/form-data">
    <div class="user-image">
        <div class="imagem">
            <div class="editar-content"></div>

            <div id="new">
                <div class="close-preview-js close-preview">x</div>
            </div>
            
            <img src="~/images/user2.png"/>
        </div>

        <input style="display: none;" id="file-preview-js" class="upd-img" asp-for="Foto" type="file" onchange="loaderFile(event)" />
    </div>
    <div class="form-group">
        <div class="user-input">
            <input asp-for="Name" type="text" />
        </div>
        <input class="btn-confirm" type="submit" value=""/>
    </div>
</form>
